<div class="border-bottom shadow-sm heading-top">
    <div>
        <div class="bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight display-space-between width-100">
                <div class="display-center width-50">
                    <h4 class="header pt-2 ml-3 text-wrap">{{ headerTitle ? headerTitle : 'Book Phone application' }}
                    </h4>
                </div>
                <div class="display-center margin-right-1 width-50">
                    <div class="display-center cursor-pointer" (click)="openNeedhelpPopup()" *ngIf="isHelpVisible">
                        <span class="help-text pl-2"> Help </span>
                    </div>
                    <div>
                        <button *ngIf="showClosebutton" class="close-icon btn close shadow-none"
                            (click)="close()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>